.description,
.description ::ng-deep [class^=mat-form-field-wrapper], .description ::ng-deep [class^=mat-form-field-flex], .description ::ng-deep [class^=mat-form-field-infix], textarea {
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
}