.full-width {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
}

.startOrEnd {
    align-items: center;
}

.bold {
    background-color: wheat;
}

.margin-12 {
    margin: 12px;
}
.action {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

