# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# Private Info
/src/app/privateValues.ts.bak

#cordova part
/cordova
/cordova-test/node_modules
/cordova-test/platforms/windows/src
/cordova-test/platforms/windows/node_modules/*
/cordova-test/www
/cordova-test/platforms/browser
# keep each platforms' images
/cordova-test/platforms/ios/*
!/cordova-test/platforms/ios/Media\ Dot\ Paper/
# /cordova-test/platforms/ios/Media\ Dot\ Paper/*
# !/cordova-test/platforms/ios/Media\ Dot\ Paper/Images.xcassets

/cordova-test/platforms/osx/*
!/cordova-test/platforms/osx/Media\ Dot\ Paper/

/cordova-test/platforms/android/*
!/cordova-test/platforms/android/*.*
# !/cordova-test/platforms/android/gradle/ #[2018-10-13 Sat] this one does not work since it is in the list of .gitignore of android.
!/cordova-test/platforms/android/app/
/cordova-test/platforms/android/.gradle
/cordova-test/platforms/android/.idea
/cordova-test/platforms/android/app/*
!/cordova-test/platforms/android/app/*.*
!/cordova-test/platforms/android/app/src/
/cordova-test/platforms/android/app/src/*
!/cordova-test/platforms/android/app/src/*.*
!/cordova-test/platforms/android/app/src/main/
/cordova-test/platforms/android/app/src/main/*
!/cordova-test/platforms/android/app/src/main/java
!/cordova-test/platforms/android/app/src/main/*.*
!/cordova-test/platforms/android/app/src/main/res
!/cordova-test/platforms/android/cordova/
/cordova-test/platforms/android/cordova/node_modules

/cordova-test/platforms/windows/*
!/cordova-test/platforms/windows/images/

/cordova-test/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/ARM
/cordova-test/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/Debug
/cordova-test/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/Release
/cordova-test/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64


# dependencies
/node_modules/*
!/node_modules/nano-sql/
/node_modules/nano-sql/*
!/node_modules/nano-sql/src/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# plugins
!/cordova-plugin-tts/