.container {
    display: flex;
    position: relative;
}

.backDel {
    flex: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: white;
}


.right {
    margin-left: auto;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    
    background-color: white;
    touch-action: none;
}