.container {
    display: flex;
    flex: 1 1 0px;
    position: relative;
    border-bottom: 1px solid lightgray;
}

.backDel {
    flex: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: white;
    
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


.right {
    margin-left: auto;
}

.content {
    flex: 1 1 0px;
    display: flex;
    align-items: center;
    background-color: white;
    touch-action: none;
    position: relative;
}


.content:hover {
    background-color: gainsboro;
}

.badge {
    flex: none;
    margin: 0.4em;
    line-height: 2em;
    width:2em;
    height: 2em;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 50%;
}

.name {
    flex: auto;
    text-align: center;
}