<nav class="docs-navbar-header">
  <button mat-icon-button (click)="toggleSidenav_Click.next($event)">
      <mat-icon class="mat-18">menu</mat-icon>
  </button>
  <button mat-icon-button (click)="meService.onSaveStory$$()" *ngIf="meService.sideClickType===sideClickType_.new">
    <mat-icon class="mat-18">archive</mat-icon>
  </button>
  <button mat-icon-button (click)="meService.onUpdateStory$$()" *ngIf="meService.sideClickType===sideClickType_.select">
    <mat-icon class="mat-18">update</mat-icon>
  </button>
<div class="flex-spacer">
  <div>{{meService.story.title}}</div>
</div>
  <button mat-icon-button [matBadge]="nUnReadMsg" (click)="showMsgsAtBottom()" *ngIf="nUnReadMsg!=0">
    <mat-icon class="mat-18">event_note</mat-icon>
  </button>

  <button id="tgManiSide" mat-icon-button (click)="meService.isSideMani=!meService.isSideMani" *ngIf="meService.isToShowList">
    <img src="assets/PlayRight.svg" *ngIf="meService.isSideMani"/>
    <img src="assets/PlayLeft.svg" *ngIf="!meService.isSideMani"/>
  </button>

  <button mat-icon-button *ngIf="isAllowSide" (click)="meService.isToShowList=!meService.isToShowList">
      <mat-icon class="mat-18">list</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="langMenu" >
      <mat-icon class="mat-18">translate</mat-icon>
  </button>
  <mat-menu #langMenu="matMenu">
    <button mat-menu-item *ngFor="let each of ptsService.langList" 
    (click)="ptsService.loadPTS$$(each.isoCode,true)"
    [class.isSelect]="each.isoCode===ptsService.langCode"
    [disableRipple]="true">{{each.name}}</button>
  </mat-menu>
</nav>