<nav class="docs-navbar-header">
  <button mat-icon-button (click)="sideType=(sideType===_sideNavType.none)?_sideNavType.home:_sideNavType.none">
      <mat-icon class="mat-18">menu</mat-icon>
  </button>
  <button mat-icon-button (click)="onSaveStory()" *ngIf="meService.sideClickType===sideClickType_.new">
    <mat-icon class="mat-18">save</mat-icon>
  </button>
  <button mat-icon-button (click)="onUpdateStory()" *ngIf="meService.sideClickType===sideClickType_.select">
    <mat-icon class="mat-18">update</mat-icon>
  </button>
<div class="flex-spacer">
  <div>{{meService.story.title}}</div>
</div>
  <button mat-icon-button [matBadge]="nUnReadMsg" (click)="showMsgsAtBottom()" *ngIf="nUnReadMsg!=0">
    <mat-icon class="mat-18">event_note</mat-icon>
  </button>
</nav>