<nav class="docs-navbar-header">
  <button mat-icon-button (click)="toggleSidenav_Click.next($event)">
      <mat-icon class="mat-18">menu</mat-icon>
      <span class="forCD">Main Menu</span>
  </button>
  <button mat-icon-button (click)="meService.onSaveStory$$()" *ngIf="meService.sideClickType===sideClickType_.new">
    <mat-icon class="mat-18">archive</mat-icon>
  </button>
  <button mat-icon-button (click)="meService.onUpdateStory$$()" *ngIf="meService.sideClickType===sideClickType_.select">
    <mat-icon class="mat-18">update</mat-icon>
  </button>
  <button mat-icon-button *ngIf="meService.isToShowList&&(gv.shownPage===PageType.MediaEdit)" style="position: relative" (click)="meService.isHideMeSectionDashboard=!meService.isHideMeSectionDashboard">
    <mat-icon class="mat-18" style="position:absolute;top:4px;left:8px;">more_horiz</mat-icon>
    <mat-icon class="mat-18" style="position:absolute;bottom:4px;left:8px;">more_horiz</mat-icon>
    <mat-icon class="mat-18" style="position: absolute;top:9px;left:8px;color:red;"
      *ngIf="meService.isHideMeSectionDashboard"
    >clear</mat-icon>
  </button>
<div class="flex-spacer">
  <div>{{meService.story.title}}</div>
</div>
  <button mat-icon-button [matBadge]="nUnReadMsg" (click)="showMsgsAtBottom()" *ngIf="nUnReadMsg!=0">
    <mat-icon class="mat-18">event_note</mat-icon>
  </button>

  <button id="tgManiSide" mat-icon-button (click)="meService.isSideMani=!meService.isSideMani"
    *ngIf="meService.isToShowList&&(gv.shownPage===PageType.MediaEdit)&&(meService?.story?.iFrame>=0)">
    <img src="assets/PlayRight.svg" *ngIf="meService.isSideMani"/>
    <img src="assets/PlayLeft.svg" *ngIf="!meService.isSideMani"/>
    <span class="forCD" *ngIf="meService.isSideMani" >show control panel on main window</span>
    <span class="forCD" *ngIf="!meService.isSideMani" >show control panel upon the MDP list</span>
  </button>

  <button mat-icon-button *ngIf="isAllowSide&&(gv.shownPage===PageType.MediaEdit)" (click)="meService.isToShowList=!meService.isToShowList">
      <mat-icon class="mat-18">list</mat-icon>
      <span class="forCD" *ngIf="meService.isToShowList">To hide the MDP list</span>
      <span class="forCD" *ngIf="!meService.isToShowList">To show the MDP list</span>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="langMenu" >
      <mat-icon class="mat-18">translate</mat-icon>
      <span class="forCD">Choose a language</span>
  </button>
  <mat-menu #langMenu="matMenu">
    <button mat-menu-item *ngFor="let each of ptsService.langList" 
    (click)="ptsService.loadPTS$$(each.isoCode,true)"
    [class.isSelect]="each.isoCode===ptsService.langCode"
    [disableRipple]="true">{{each.name}}</button>
  </mat-menu>
</nav>