<div class="container">
  <h1>{{(!!pts)?pts.title:'歡迎使用本APP'}}</h1>
  <div>{{(!!pts)?pts.pTitle:'若需要相關的幫助，請至以下網頁觀賞，謝謝。'}}</div>
  <h2>{{(!!pts)?pts.s1:'連結網址'}}</h2>
  <div>
    <div class="link"><a href="https://memorizeyc.azurewebsites.net/Static/MediaDotPaper/tutorial"
       target="_blank">{{(!!pts)?pts.l1:'此教學網頁'}}</a></div>
    <div class="link"><a href="https://youtu.be/5Jrkep05Ib0" target="_blank">{{(!!pts)?pts.l2:'Youtube影片'}}</a></div>
    <div class="link"><a href="https://memorizeyc.azurewebsites.net" target="_blank">{{(!!pts)?pts.l3:'相關網頁'}}</a></div>
  </div>
</div>