 <div class="container">
    <h2 style="text-align: center;">發音練習</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div class="badge">1</div>
                <mat-icon class="vSelfCenter">mic</mat-icon>
                <span class="vSelfCenter">錄音</span>
            </mat-expansion-panel-header>
            <button (click)="recorder.record()">Record</button>
            <button (click)="recorder.stop()">stop</button>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div class="badge">2</div>
                <mat-icon class="vSelfCenter">compare_arrows</mat-icon>
                <span class="vSelfCenter">比較</span>
            </mat-expansion-panel-header>
            <button (click)="audioMyVoice.play()" >Play</button>
            <!-- <audio #audioMyVoice type="audio/wav" controls [srcObject]="recorder.stream"></audio> -->
            <audio #audioMyVoice controls [src]="recorder.url|safe"></audio>
            <a [href]="recorder.url|safe" [download]="'test.wav'">TEST DOWNLOAD</a>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<button mat-icon-button class="position-absolute"
 style="top:0;right:0;z-index: 10;"
 (click)="close.next($event)"><mat-icon>clear</mat-icon></button>

