<div class="container display-flex-column"
    [style.background-color]="((meService.story.iFrame<0)||(meService.story.frames.length<=meService.story.iFrame))?'rgba(0,0,0,0)':
    'rgba('+meService.story.frames[meService.story.iFrame].colorR+','
    +meService.story.frames[meService.story.iFrame].colorG+','
    +meService.story.frames[meService.story.iFrame].colorB+','+'0.2'+')'"
    [@changeFrame]="meService.story.iFrame" touch-action="none" 
    (pointerdown)="HideShow='show'" (pointerleave)="onPointLeave($event,this)">
    <div #main class="main flex-auto display-flex-column position-relative">
        <div class="main-up flex-110" [@hideShow]="HideShow" *ngIf="isSSShown===false">
            <div class="flex">
                <mat-slide-toggle class="subtitle-shadow use-margin-not-overflow" [(ngModel)]="meService.story.frames[meService.story.iFrame].useDefVP" (change)="meService.setVolumeFromFrame();meService.setPlaybackRateFromFrame();">
                    {{(!!pts)?pts.useDefVP:'使用預設的音量與速率'}}
                </mat-slide-toggle>
            </div>
            <app-setting-media *ngIf="!!meService.story.frames[meService.story.iFrame]?.useDefVP===false"></app-setting-media>
            <div class="flex">
                <mat-slide-toggle [(ngModel)]="meService.story.frames[meService.story.iFrame].isUtter" color="primary" #toggleUtter class="subtitle-shadow use-margin-not-overflow" [style.overflow-y]="'hidden'" (change)="HideShow='show';(toggleUtter.checked)?subtitleChange$.next([subtitleInput.value,subtitleView.innerText]):null;">
                    {{(!!pts)?pts.isUtterSubtitle:'語音模擬字幕？'}}
                </mat-slide-toggle>
                <button mat-icon-button mat-raised-button *ngIf="meService.story.frames[meService.story.iFrame].isUtter" (click)="onShowSetSS($event)">
                    <mat-icon class="mat-18">build</mat-icon>
                </button>
            </div>
        </div>

        <div #mainPlay class="main-play flex-110 display-flex-row" [@hideShow]="HideShow" *ngIf="isSSShown===false">
            <button id="btnStart" mat-icon-button mat-raised-button (click)="meService.seekTime=meService.story.frames[meService.story.iFrame].start" (pointerdown)="setShowDT($event,true,true);startChanged$.next($event)">
                <mat-icon class="mat-18">skip_previous</mat-icon>
            </button>
            <button mat-icon-button mat-raised-button [ngClass]="{'largeBtn':(mainPlay.offsetWidth>300)&&(mainPlay.offsetHeight>150)}" (click)="onPlayPause()">
                <svg viewBox="0 0 10 10" *ngIf="meService.state!==MEState.playing">
                    <polygon points="8,5 3,2 3,8" style="fill:darkblue"/>
                </svg>
                <svg viewBox="0 0 10 10" *ngIf="meService.state===MEState.playing">
                    <rect x="2" y="2" width="2" height="6" style="fill:red"/>
                    <rect x="6" y="2" width="2" height="6" style="fill:red"/>
                </svg>
            </button>
            <button id="btnEnd" mat-icon-button mat-raised-button (click)="meService.seekTime=meService.story.frames[meService.story.iFrame].end" (pointerdown)="setShowDT($event,true,false);endChanged$.next($event)">
                <mat-icon class="mat-18">skip_next</mat-icon>
            </button>

            <h3 class="deltaT aniUpHide"
                [style.color]="(forDenoteDt.dt>0)?'blue':((forDenoteDt.dt===0)?'black':'red')"
                [style.top.px]="forDenoteDt.y-100"
                [style.left.px]="forDenoteDt.x"
                [style.display]="(forDenoteDt.isHide)?'none':'inline'"
                >{{((forDenoteDt.dt>0)?'+':'')+(forDenoteDt.dt|number:'1.0-1')}}</h3>
            <h2 class="deltaT"
                [style.color]="(forDenoteDt.dt>0)?'blue':((forDenoteDt.dt===0)?'black':'red')"
                [style.top.px]="forDenoteDt.y-80"
                [style.left.px]="forDenoteDt.x"
                [style.display]="(forDenoteDt.isHide)?'none':'inline'"
            >{{(forDenoteDt.isStartBtn)?meService.story.frames[meService.story.iFrame].start:meService.story.frames[meService.story.iFrame].end | number: '1.1-1'}}</h2>
        </div>

        <app-set-speech-synthesis class="setSS" *ngIf="isSSShown" [utterPara]="utterPara" (change)="onUtterParaChanged(subtitleView.innerText,$event)" (close)="isSSShown=false" [@hideShow]="HideShow" [@flyInOut]="isSSShown" [ngStyle]="{'height':main.offsetHeight*2.0/3.0+'px'}"></app-set-speech-synthesis>


        <div #subtitleView id="htmlSubtitle" class="subtitle-shadow position-absolute" [innerHTML]="subtitleInput.value|safeHtml" [style.display]="(HideShow==='show')?'none':'block'"></div>

        <div #mainDown class="main-down flex-auto display-flex-column">
            <textarea matInput #subtitleInput class="subtitle flex-auto" [ngModel]="meService.story.frames[meService.story.iFrame].subtitle" (ngModelChange)="onSubInputChange(subtitleInput, subtitleView)" (click)="onSubtitleClicked($event)" [style.opacity]="(HideShow==='show')?1:0">
            </textarea>
        </div>
    </div>
    <div class="slider flex-none position-relative display-flex-row">
        <input #inStart type="number" [@flyInOut]="IOStartShown" class="upLeft" [(ngModel)]="meService.story.frames[meService.story.iFrame].start" (blur)="IOStartShown='out'">
        <div class="upCenter">{{meService.currentTime | number: '1.0-3'}}</div>
        <input #inEnd type="number" [@flyInOut]="IOEndShown" class="upRight" [(ngModel)]="meService.story.frames[meService.story.iFrame].end" (blur)="IOEndShown='out'">
        <span class="slider-start flex-none" (click)="onOpenInputStart(inStart)">{{meService.story.frames[meService.story.iFrame].start | number: '1.1-1'}}</span>
        <!-- <mat-form-field><input class="slider-start" matInput [(ngModel)]="meService.story.frames[meService.story.iFrame].start"></mat-form-field> -->
        <mat-slider #frameSlider class="canShortSlider flex-auto" [min]="meService.story.frames[meService.story.iFrame].start" [max]="meService.story.frames[meService.story.iFrame].end" [value]="meService.currentTime" (change)="meService.seekTime=frameSlider.value"></mat-slider>
        <span class="slider-end flex-none" (click)="onOpenInputEnd(inEnd)">{{meService.story.frames[meService.story.iFrame].end | number: '1.1-1'}}</span>
    </div>
</div>