.container {
    touch-action: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    min-height: 0;
    min-width: 0;
    align-items: stretch;
}

.main-up, .main-play {
    z-index: 1;
    /* min-height: 0; */
}

.main-play{
    align-items: center;
    justify-content: center;
}

.main-down {
    align-self: stretch;
}

.slider {
    background-color: white;
    border-radius: 20px;
    align-items: center;
    z-index: 3;
}

/* #region For slider inputs and currentTime */
.upCenter,
.upLeft,
.upRight {
    top: -24px;
    position: absolute;
    z-index: 2;
}

.upLeft {
    width: 30%;
    left:0;
}

.upCenter {
    left:0; right:0;
    width: 100%;
    text-shadow: 3px 0px 5px black, -3px 0px 5px black, 0px 3px 5px black, 0px -3px 5px black;
    text-align: center;
    color: white;
}

.upRight {
    width: 30%;
    right:0;
    justify-self: right;
}
/* #endregion For slider inputs and currentTime */


.largeBtn {
    width: 120px;
    height: 120px;
}

.smallBtn {
    width: 40px;
    height: 40px;
    margin: 4px;
}

#btnStart {
    border-radius: 50% 0 0 50%;
    margin: 0 8px;
}

#btnEnd {
    border-radius: 0 50% 50% 0;
    margin: 0 8px;
}

.subtitle,
.subtitle-shadow {
    text-align: center;
    min-height: 20px;
    align-self: stretch;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.subtitle {
    z-index: 2;
}

.subtitle-shadow {
    z-index: 1;
    text-shadow: 3px 0px 5px black, -3px 0px 5px black, 0px 3px 5px black, 0px -3px 5px black;
    color: white;
    background-color: transparent;
}

.flex {
    display: flex;
    justify-content: center;
    min-width: 0;
    flex-wrap: wrap;
}

.setSS {
    background-color: lightyellow;
    width: 100%;
    z-index: 2;
    flex: 2 1 0px;
}

#htmlSubtitle {
    bottom: 0;
    left: 0;
    right: 0;
    align-self: flex-end;
    padding: 0 20px 40px 12px;
}

.use-margin-not-overflow {
    margin: 12px 0;
    overflow-y: hidden;
}

.canShortSlider {
    min-width: 20px;
}

.aniUpHide {
    animation: .4s upAndHide infinite;
}

.deltaT {
    text-shadow: 3px 0px 5px white, -3px 0px 5px white, 0px 3px 5px white, 0px -3px 5px white;
    position: fixed;
    z-index: 4;
}

@keyframes upAndHide {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}