<div class="container" [@changeFrame]="meService.story.iFrame" 
    (pointerenter)="HideShow='show'" (pointerleave)="HideShow='hide'" touch-action="none">
    <div class="main">
        <div class="main-up" [@hideShow]="HideShow">
            <div #ratio class="smallSlider">
                <mat-icon>directions_walk</mat-icon>
                <mat-slider min="0" [max]="meService.availablePlaybackRates.length-1" step="1"
                 [displayWith]="tickDisplayWith(meService)" thumbLabel 
                 [value]="meService.availablePlaybackRates.indexOf(meService.playbackRate)"
                 (input)="meService.playbackRate=meService.availablePlaybackRates[$event.value]" ></mat-slider>
                <mat-icon>flight</mat-icon>
            </div>
            <div #volume class="smallSlider">
                    <mat-icon>volume_mute</mat-icon>
                    <mat-slider min="0" max="1" step="0.2" thumbLabel [(ngModel)]="meService.volume"></mat-slider>
                    <mat-icon>volume_up</mat-icon>
            </div>    
        </div>
        <div class="main-play" [@hideShow]="HideShow">
            <button id="btnStart" mat-icon-button mat-raised-button (click)="meService.seekTime=meService.story.frames[meService.story.iFrame].start">
                <mat-icon class="mat-18">skip_previous</mat-icon>
            </button>
            <button mat-icon-button mat-raised-button class="largeBtn" (click)="onPlayPause()">
                <svg viewBox="0 0 10 10" *ngIf="previousState!==MEState.playing">
                    <polygon points="8,5 3,2 3,8" style="fill:darkblue"/>
                </svg>
                <svg viewBox="0 0 10 10" *ngIf="previousState===MEState.playing">
                        <rect x="2" y="2" width="2" height="6" style="fill:red"/>
                        <rect x="6" y="2" width="2" height="6" style="fill:red"/>
                    </svg>
            </button>
            <button id="btnEnd" mat-icon-button mat-raised-button (click)="meService.seekTime=meService.story.frames[meService.story.iFrame].end">
                <mat-icon class="mat-18">skip_next</mat-icon>
            </button>
        </div>
        <div class="main-down">
            <textarea id="subtitle" matInput 
             [(ngModel)]="meService.story.frames[meService.story.iFrame].subtitle"
             [style.background-color]="(HideShow==='hide')?'#00000000':'#FFFFFFFF'"
             [style.border-color]="(HideShow==='hide')?'#00000000':'#B0B0B0FF'">
            </textarea>
        </div>
    </div>
    <div class="slider">
        <input #inStart type="number" [@flyInOut]="IOStartShown" class="upLeft" [(ngModel)]="meService.story.frames[meService.story.iFrame].start" (blur)="IOStartShown='out'">
        <div class="upCenter">{{meService.currentTime}}</div>
        <input #inEnd type="number" [@flyInOut]="IOEndShown" class="upRight" [(ngModel)]="meService.story.frames[meService.story.iFrame].end"  (blur)="IOEndShown='out'">
        <span class="slider-start" (click)="onOpenInputStart(inStart)" >{{meService.story.frames[meService.story.iFrame].start | number: '1.1-1'}}</span>
        <!-- <mat-form-field><input class="slider-start" matInput [(ngModel)]="meService.story.frames[meService.story.iFrame].start"></mat-form-field> -->
            <mat-slider #frameSlider [min]="meService.story.frames[meService.story.iFrame].start"
                [max]="meService.story.frames[meService.story.iFrame].end"
                [value]="meService.currentTime"
                (change)="meService.seekTime=frameSlider.value"
            ></mat-slider>
        <span class="slider-end" (click)="onOpenInputEnd(inEnd)" >{{meService.story.frames[meService.story.iFrame].end | number: '1.1-1'}}</span>
    </div>
</div>