.container {
    width: 100%;
    position: relative;
    align-self: center;
    height: 40px;
}

.slidePart {
    position: relative;
    height: 100%;
    align-items: center;
    overflow: hidden;
    min-width: 0;
}

.slideCanvas {
    order: 0;
    z-index: 0;
    object-fit: fill;
    width: 100%;
    height: 1px;
    flex: 1 1 0px;
    position: relative;
    transform-origin: left;
}
