<div #container class='container display-flex-column'>
  <div class="flex-auto display-flex-row">
    <span class="flex-none" (click)="meService.seekTime=0" >0.0</span>
    <div #slidePart class="flex-auto display-flex-column" (click)="onChangeCurrentTime($event, slidePart)" >
      <svg #slideCanvas class="slideCanvas" [attr.viewBox]="'0 0 '+(meService.duration+1)+' '+'1'" [attr.preserveAspectRatio]="'none'">
        <!-- For Apple system, I need a <rect> to cover the whole svg -->
        <rect x="0" y="0" [attr.width]="meService.duration" height="1" [style.fill]="'white'"></rect>
        <rect *ngFor="let frame of meService.story.frames"
        [style.fill]="'rgba('+frame.colorR+','+frame.colorG+','+frame.colorB+','+((!!frame.colorA)?frame.colorA:0.9)+')'"
        [attr.width]= "(frame.end-frame.start)"
        [attr.height]="frame.height"
        [attr.x]="frame.start"
        [attr.y]="frame.top"
        ></rect>

        <!-- horizontal line -->
        <rect [style.fill]="'black'" [attr.height]="(!!container.clientHeight)?2/container.clientHeight:2" [attr.width]="meService.duration" x="0" y="50%"></rect>
        <!-- pointer -->
        <rect [style.fill]="'blue'" [attr.x]="((meService.currentTime>0)?meService.currentTime:0)" y="0" [attr.width]="(!!container.clientWidth)?2*meService.duration/container.clientWidth:1" height="100%"></rect>
      </svg>
    </div>
    <span class="flex-none" (click)="meService.seekTime=meService.duration-0.1">{{meService.duration| number: '1.1-1'}}</span>
  </div>
</div>