.container {
    display: flex;
}

.large {
    font-size: large;
}

.listContainer {
    flex-grow: 1;
    max-height: 120px;
    overflow-y: auto;
    display: inline;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
}

@keyframes blink {
    to {
        opacity: 0.8;
    }
}