<div class="container">
  <div class="fnBtns">
      <button id="allBtn" mat-icon-button mat-raised-button (click)="onWhichFrame(-1)">
          <mat-icon class="mat-18">all_inclusive</mat-icon>
        </button>
        <button id="plusBtn" mat-icon-button mat-raised-button (click)="onAddFrame()">
          <span class="large">+</span>
        </button>      
        <button mat-icon-button mat-raised-button (click)="onShownStoryGSetting()">
            <img src="assets/gear.svg" [height]="20" alt="setting">
        </button>
  </div>

  <div #listContainer class="listContainer">
    <a mat-mini-fab *ngFor="let link of meService.links" [href]="link|safe">
      <mat-icon>link</mat-icon>
    </a>
    <app-swap-icon
    *ngFor="let aFrame of meService.story.frames; let i = index;" 
    [index]="i"
    [bR]="aFrame.colorR"
    [bG]="aFrame.colorG"
    [bB]="aFrame.colorB"
    [class.shake]="i===meService.story.iFrame"
    [isBlink]="i===meService.currentIFrameOnT"
    (contentClick)="onWhichFrame(i)"
    (delete)="onRemoveFrame(i)"
    (hold)="onHold(i)">
    </app-swap-icon>
  </div>
</div>