.container {
    display: flex;
}

.large {
    font-size: large;
}

.listContainer {
    flex-grow: 1;
    max-height: 120px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

app-swap-icon {
    height: 40px;
    margin: 0;
}