
.container {
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'center';
}

button {
    touch-action: none;
}

.eachButton, .delBK {
    grid-area: center;
    /* grid-column: 1;
    grid-row: 1; */
}

.delBK {
    background-color: red;
    color: white;
}