video{
    /* height: 100%;
    width: auto;
    max-width: 100%; */
    background: transparent no-repeat;
    /* For windows, it should be '/www/...' and for android is '/android_asset/www/...' */
    /* Now I declare it in html file */
    background-size: contain;
    background-position: center;
}

video, #youtube {
    flex: 1 1 0px;
    align-self: stretch;
    min-height: 0px;
    width: 100%;
}

#videoCover {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 60px;
}