.close {
    position: absolute;
    right: 0;
}

.selVoiceContainer, .utterContainer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.selVoice {
    min-width: 72%;
}

.container {
    height: 100%;
}