.container{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    grid-template-areas: "navbar" "content";
}

app-navbar{
    grid-area: navbar;
    color: white;
}

mat-sidenav {
    width: 200px;
    display: flex;
    overflow-x: hidden;
}

app-home {
    flex: 1;
}

.vSeparate {
    width: 1px;
    height: 100%;
    background-color: black;
}
.content{
    grid-area: content;
    overflow-y: auto;
}

.page{
    width: 100%;
    height: 100%;
}