<div #container class="container display-flex-column">
    <div #navbar class="navbar flex-none">
        <app-navbar class="mat-elevation-z6" (toggleSidenav_Click)="sidenav.opened=!sidenav.opened"></app-navbar>
    </div>
    <div class="flex-auto display-flex-row overflow-y-auto">
        <mat-sidenav-container #sidenavContainer class="flex-auto display-flex-row">
            <mat-sidenav #sidenav [mode]="sidenavMode" align="start" [opened]="true" [style.width]="sidenavWidth+'px'">
                <!-- <app-home class="page" [style.display]="(gv.shownPage===pageType.Home)?'block':'none'"></app-home> -->
                <mat-tab-group id="sidenavTabs" mat-stretch-tabs [dynamicHeight]="true">
                    <mat-tab class="display-flex-column">
                        <ng-template matTabLabel>
                            <mat-icon [matTooltip]="(!!pts)?pts.chooseAMedia:'選擇一個媒體'">library_music</mat-icon>
                        </ng-template>
                        <app-home class="flex-110 display-flex-column min-height-0"></app-home>
                    </mat-tab>
                    <mat-tab>
                        <ng-template matTabLabel>
                            <mat-icon [matTooltip]="(!!pts)?pts.infoOfAMedia:'目前媒體的資訊'">music_video</mat-icon>
                        </ng-template>
                        <app-story class="flex-auto display-flex-column" *ngIf="!!meService.story?.urlOrID===true"></app-story>
                        <span *ngIf="!!meService.story?.urlOrID===false">{{(!!pts)?pts.chooseAMediaAtFirst:'請先選一個媒體'}}</span>
                    </mat-tab>
                </mat-tab-group>
                <div class="vSeparate" [style.left]="sidenavWidth-2+'px'" touch-action="none" (pointerdown)="onvSepPointerDown($event)"></div>
                <svg id="resizeWidth" viewBox="0 0 10 20" (pointerdown)="onvSepPointerDown($event)" touch-action="none" [style.left]="(sidenavWidth-20)+'px'" >
              <polygon points="0,10 10,0 10,20" style="fill:cadetblue;opacity: 0.5;"/>
            </svg>
            </mat-sidenav>
            <!-- <div class="page"> -->
            <!-- <router-outlet></router-outlet> -->
            <mat-sidenav-content id="sidenav-content" [style.width]="((sidenavMode==='over'||(sidenav.opened===false))?container.clientWidth:(container.clientWidth-sidenavWidth))+'px'">
                <app-media-edit class="flex-auto display-flex-column" [style.display]="(gv.shownPage===pageType.MediaEdit)?'flex':'none'"></app-media-edit>
                <app-test class="flex-auto display-flex-column" [style.display]="(gv.shownPage===pageType.Test)?'flex':'none'"></app-test>
                <app-welcome class="flex-auto width-100 display-flex-column" [style.display]="(gv.shownPage===pageType.Home)?'flex':'none'"></app-welcome>
            </mat-sidenav-content>
            <!-- </div> -->
        </mat-sidenav-container>    
    </div>
    <div class="justPointerEvents" *ngIf="gv.isJustPointerEvents"></div>
    <app-in-progress #inProgress *ngIf="isShowProgress" class="inProgress" [title]="progressPara.title" [message]="progressPara.message" [sMode]="progressPara.sMode"></app-in-progress>
</div>