.display-flex-column {
    display: flex;
    flex-direction: column;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.flex-auto {
    flex: auto;
    /* 1 1 auto; */
}

/* This one will force browser to resize it to its desired size */
.flex-110 {
    flex: 1 1 0px;
}

.flex-none {
    flex: none; 
    /* 0 0 auto; */
}

.min-height-0 {
    min-height: 0;
}

.overflow-y-auto {
    overflow-y: auto;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.width-100 {
    width: 100%;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
}

.shake {
    animation-duration: 1.5s;
    animation-name: shake;
    animation-iteration-count: infinite;
}

@keyframes blink {
    to {
        /* opacity: 0.8; */
        background-color: white;
    }
}

@keyframes shake {
    from {
        transform: rotate(-30deg);
    }

    to {
        transform: rotate(30deg);
    }
}
