<?xml version='1.0' encoding='utf-8'?>
<widget id="tw.at.yescirculation.mediadotpaper" packageName="48028Young-ChungHsue.MediaDotPaper" version="2018.1009.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Media Dot Paper</name>
    <description>
        My first cordova App to help people to add some extra functions to their media.
    </description>
    <author email="yescirculation@gmail.com" href="http://yescirculation.at.tw">
        Yes Circulation
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="https://*.youtube.com" />
    <allow-navigation href="https://*.ytimg.com" />
    <allow-navigation href="https://*.youtube-nocookie.com" />
    <hook src="scripts/prepareAngular6App.js" type="before_prepare" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="blob:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,root" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="AllowInlineMediaPlayback" value="true" />
        <preference name="iosPersistentFileLocation" value="Compatibility" />
    </platform>
    <platform name="windows">
        <preference name="WindowsStoreIdentityName" value="48028Young-ChungHsue.MediaDotPaper" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-nano-sqlite" spec="~1.4.0" />
    <plugin name="cordova-plugin-admobpro" spec="^2.31.6" />
    <plugin name="cordova-plugin-tts" spec="C:\Users\ychsue\source\repos\Test\cordova-ng-test\cordova-test\node_modules\cordova-plugin-tts" />
    <plugin name="cordova-plugin-file" spec="/Users/ychsue/workspace/cordova-ng-test/cordova-test/node_modules/cordova-plugin-file" />
    <plugin name="cordova-plugin-android-permissions" spec="~1.0.0" />
    <plugin name="cordova-plugin-file-opener2" spec="~2.0.19" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
    <plugin name="cordova-clipboard" spec="/Users/ychsue/workspace/cordova-ng-test/cordova-test/node_modules/cordova-clipboard" />
    <engine name="browser" spec="^5.0.3" />
    <engine name="osx" spec="^4.0.2" />
    <engine name="android" spec="^7.1.1" />
    <engine name="windows" spec="^6.0.1" />
    <engine name="ios" spec="^4.5.5" />
</widget>
