
.Error{
    background-color: red;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.Warn{
    background-color: yellow;
    color: blue;
    text-shadow: 1px 1px 1px green;
}

.Info{
    background-color: lightblue;
    color: green;
    text-shadow: 1px 1px 1px black;
}