<!-- <div>
    <button mat-raised-button (click)="gv.shownPage = pageType.Test">Test</button>
</div> -->
<div class="flex-none display-flex-column">
    <h3 [innerText]="(!!pts)?pts.newMedia:'讀入新的媒體：'"></h3>
    <mat-list dense>
        <mat-list-item>
            <button mat-raised-button (click)="onLoadFromURL();">
                {{(!!pts)?pts.url:'網址'}}
            </button>
        </mat-list-item>
        <mat-list-item>
            <button #btnSelFile mat-raised-button (click)="selaudio.click()"
                [matTooltip]="(!!pts)?pts.ttFile:'請選擇影片、聲音或本APP匯出的json檔'" >
                {{(!!pts)?pts.file:'檔案'}}
            </button>
            <input #selaudio
            type="file" (change)="onFileSelect(selaudio.files)">
            <button mat-icon-button (click)="onSelFileWarning()" *ngIf="isShownSelFileWarning">
                <mat-icon class="mat-18" [style.color]="'blue'">warning</mat-icon>
            </button>
    </mat-list-item>
    </mat-list>
</div>
<div class="storedContainer flex-110 display-flex-column">
    <h3 class="flex-none">{{(!!pts)?pts.storedMedia:'已備份的媒體：'}}</h3>

    <div #listOfStored class="listStored flex-110 display-flex-column">
        <mat-list dense class="flex-110">
        <!-- <mat-list-item *ngFor="let story of stories$| async"> -->
        <app-draglist *ngFor="let story of stories" 
            [story]="story"
            (delete)="onStoryDelete(story)"
            (contentClick)="onStoryOpen(story)" ></app-draglist>
        <!-- </mat-list-item> -->
        </mat-list>
    </div>
</div>
