input[type='file'] {
    display: none;
}

.question {
    background-color: red;
    color: yellow;
    font-weight: bolder;
    min-width: 0px;
    box-shadow: 4px;
}

app-draglist {
    width:100%;
}

.storedContainer {
    min-height: 0; /* crucial */
}

.listStored {
    overflow-y: auto;
    overflow-x: hidden;
}