<div>
    <button mat-raised-button (click)="gv.shownPage = pageType.Test">Test</button>
</div>
<div>
    <h3>
        讀入新的媒體：
    </h3>
    <mat-list dense>
        <mat-list-item>
            <button mat-raised-button (click)="onLoadFromURL();">
                網址
            </button>
            <button mat-icon-button class="question">
                ?
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-raised-button (click)="selaudio.click()" >
                <input #selaudio
                type="file" accept="audio/*" (change)="onFileSelect(selaudio.files)">
                聲音檔
            </button>
            <button mat-raised-button (click)="selvideo.click()" >
                <input #selvideo
                type="file" accept="video/*" (change)="onFileSelect(selvideo.files)">
                影片檔
            </button>
        </mat-list-item>
    </mat-list>
</div>
<div>
    <h3>讀入已備份的媒體：</h3>

    <mat-list dense>
        <!-- <mat-list-item *ngFor="let story of stories$| async"> -->
        <app-draglist *ngFor="let story of stories" 
            [story]="story"
            (delete)="onStoryDelete(story)"
            (contentClick)="onStoryOpen(story)" ></app-draglist>
        <!-- </mat-list-item> -->
    </mat-list>
</div>
