<div id="container">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [innerHtml]="((!!pts)?pts.hDailySample:'設定<b>每日一例</b>按鈕')|safeHtml">
            </mat-expansion-panel-header>
            <app-daily-sample></app-daily-sample>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                {{(!!pts)?pts.hLayout:'排版'}}
            </mat-expansion-panel-header>
            <div class="display-flex-row">
                <app-zoom-inout [value]="gv.zoomAll" (change)="gv.zoomAll=$event" class="flex-auto"></app-zoom-inout>
                <button mat-icon-button mat-raised-button class="flex-none" style="margin:4px;"
                    (click)="onSaveZoom()"
                ><mat-icon>done</mat-icon></button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>