<div id="container">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [innerHtml]="((!!pts)?pts.hDailySample:'設定<b>每日一例</b>按鈕')|safeHtml">
            </mat-expansion-panel-header>
            <app-daily-sample></app-daily-sample>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                {{(!!pts)?pts.hLayout:'排版'}}
            </mat-expansion-panel-header>
            <div class="display-flex-row">
                <app-zoom-inout [value]="gv.zoomAll" (change)="gv.zoomAll=$event" class="flex-auto"></app-zoom-inout>
                <button mat-icon-button mat-raised-button class="flex-none" style="margin:4px;"
                    (click)="onSaveZoom();onClose();">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
            <mat-expansion-panel-header [innerHtml]="(!!pts)?pts.hSetIO:'設定存取'">
            </mat-expansion-panel-header>
            <app-setting-save-load></app-setting-save-load>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [innerHtml]="(!!pts)?pts.googleAccount:'Google Account'"> 
                <!-- I18N -->
            </mat-expansion-panel-header>
            <app-google-sign-io></app-google-sign-io>
        </mat-expansion-panel>

    </mat-accordion>
    <button mat-icon-button class="position-absolute" style="top:0px; right:0px;" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>