<div>
    <h1>Test of Speech Synthesis</h1>
    <input type="text" #ssInput/>
    <mat-select [(value)]="selVoice" placeholder="選個想模擬的語言">
        <mat-option *ngFor="let voice of SSService.voices" [value]="voice">{{voice.name}}</mat-option>
    </mat-select>
    <button (click)="onSpeak(ssInput.value)">play</button>
</div>

<input #selFile type="file" multiple (change)="onSelFileChange(selFile.files)">
<!-- list of files -->
<mat-list dense *ngIf="!!entries">
    <app-draglist *ngFor="let entry of entries"
    [story]="entry"
    (delete)="onRmFile(entry)"
    (contentClick)="onClickAFile(entry)" >
    </app-draglist>
</mat-list>
<video #audioFromFile autoplay controls [src]="((!!audioSrc)?audioSrc:'')|safe">
</video>
<hr>
<div>
    <div>Is cordova support? {{(!!isCordovaSupport)?"Yes":"No"}}</div>
    <div>Is cordova.file support? {{(!!isFilePluginSupport)?"Yes":"No"}}</div>
</div>
<div>
    <button mat-raised-button (click)="onGetDocFolder()">
        <mat-icon>folder</mat-icon>
    </button>
    {{newFolderName}}
</div>
<br/>
<div>
    <button (click)="onSelectFromNSQL()">select nanoSQL</button>
</div>
<br/>
<div>
    <button (click)="ondeleteFromNSQL()">delete nanoSQL</button>
</div>
<br/>
<div>
    <button (click)="onUpsertFromNSQL()">upsert nanoSQL</button>
</div>