<div *ngFor="let frame of meService.story.frames; let i = index;">
  <button mat-button (click)="onChangeFrame(i)"
   [style.background-color]="'rgba('+frame.colorR+','+frame.colorG+','+frame.colorB+','+frame.colorA+')'"
   [class.blink]="currentIFrame===i">
   <span class="btnWords">{{frame.subtitle}}</span></button>
</div>

<!-- <mat-list>
  <mat-list-item *ngFor="let frame of meService.story.frames">
      <button mat-button (click)="onClick"
       [style.background-color]="'rgba('+frame.colorR+','+frame.colorG+','+frame.colorB+','+frame.colorA+')'" >
       <span class="btnWords">{{frame.subtitle}}</span></button>
  </mat-list-item>
</mat-list> -->