<div class="container">
  <!-- <header>{{this.dataService.story.name}}</header> -->
  <!-- <main> -->
    <!-- <video #videoElement class="main"></video> -->
    <app-player class="main"></app-player>
    <app-me-mani-plate class="main"
      [style.background-color]="(meService.story.iFrame<0)?'rgba(0,0,0,0)':'rgba('+meService.story.frames[meService.story.iFrame].colorR+','+meService.story.frames[meService.story.iFrame].colorG+','+meService.story.frames[meService.story.iFrame].colorB+','+'0.2'+')'"
      *ngIf="meService.story.iFrame>=0"
      [@flyInOut]="'in'"
    ></app-me-mani-plate>
  <!-- </main> -->
  <aside></aside>
  <footer class="dashboardSection">
    <app-me-section-dashboard></app-me-section-dashboard>
  </footer>
  <footer class="dashboardMain">
    <app-me-main-dashboard></app-me-main-dashboard>
  </footer>
</div>
