.main-overlay {
    position: absolute;
}


.sideView {
    overflow-y: auto;
    position: relative;
}

app-player {
    z-index: 0;
}

app-me-mani-plate {
    z-index: 1;
}

#reSideWidth {
    position: absolute;
    top:50%;
    width: 20px;
    height: 40px;
    z-index: 3;
}

#vSideSep {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: black;
    z-index: 3;
}
