.container {
    display: grid;
    /* grid-template-columns: 1fr 200px; */
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "header   side" 
                         "main     side"
                         "cSection side" 
                         "cMain    side";
    height: 100%;
    width: 100%;
}

header {
    grid-area: header;
}

.main {
    grid-area: main;
    overflow: hidden;
}

.sideView {
    grid-area: side;
    height: 100%;
    overflow-y: auto;
}

app-player {
    z-index: 0;
}

app-me-mani-plate {
    z-index: 1;
}

.dashboardSection {
    grid-area: cSection;
}

.dashboardMain {
    grid-area: cMain;
}

#reSideWidth {
    position: absolute;
    top:50%;
    height: 40px;
    z-index: 2;
}

#vSideSep {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: black;
}
