.container {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "header" "main" "cSection" "cMain";
    height: 100%;
    width: 100%;
}

header {
    grid-area: header;
}

.main {
    grid-area: main;
    overflow: hidden;
    width:100%;
}

.dashboardSection {
    grid-area: cSection;
}

.dashboardMain {
    grid-area: cMain;
}