/* You can add global styles to this file, and also import other style files */
@import url("~@angular/material/prebuilt-themes/deeppurple-amber.css");
/* @import url("~material-design-icons/iconfont/material-icons.css"); */
@import "~material-design-icons/iconfont/material-icons.css";
body{
    margin: 0;
    -ms-content-zooming: none;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    transform-origin: 0 0;
}

.forCD {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
}

mat-expansion-panel-header {
    user-select: none;
}