/* You can add global styles to this file, and also import other style files */
@import url("~@angular/material/prebuilt-themes/deeppurple-amber.css");
/* @import url("~material-design-icons/iconfont/material-icons.css"); */
@import "~material-design-icons/iconfont/material-icons.css";
body{
    margin: 0;
    -ms-content-zooming: none;
    overflow: hidden;
}